@import './base.css';
@import "tailwindcss";


#app {
  max-width: full-width;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  scroll-behavior: smooth;

}




@layer base {
  :root {
    --color-primary: #c4234b;
    --color-accent: #7BB662;
    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Lora', serif;
  }

  body {
    font-family: var(--font-sans);
  }
}

